#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#maindata {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-grow: 1;
}

#maindata .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--elem-bg-color);
  transition: opacity var(--anim-default-transition-speed) var(--anim-default-transition-func);
  opacity: 0.02;
}

#maindata .sidebar:hover {
  opacity: 1;
}

#bgimage {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/nobg.png);
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background var(--bgimg-transition-speed) var(--anim-default-transition-func);
}

.button {
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  transition: background-color var(--bgimg-transition-speed) var(--anim-default-transition-func);
}

.button:hover {
  background-color: var(--button-hover-color);
}

.infowrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  gap: 10px;
}
