#wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

input:not([type="checkbox"]),
select {
  flex: 1;
}

#data {
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
  flex: 1;
}

#buttons {
  display: flex;
  min-height: 25px;
}

#buttons * {
  flex: 1;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #303030;
}

#rangevalue {
  display: none;
  position: absolute;
  pointer-events: none;
  background-color: #000000fc;
  text-align: center;
  width: 25px;
  height: 15px;
}

#inusers {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#inusers>.user {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 2px;
}
