#wrapper {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 40px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

#wrapper[data-ready="0"] {
  filter: blur(10px);
}

.row {
  width: 100%;
}

#data {
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #303030;
}

#gsd {
  width: 100%;
}

#gsd-path {
  width: 179px;
}

#wait-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#wrapper[data-ready="1"]+#wait-spinner {
  display: none;
}
