* {
  box-sizing: border-box;
  color: white;
  outline: 0;
  scrollbar-width: thin;
  scrollbar-color: rgb(15, 15, 15) #00000000;
}

select,
option,
input {
  color: black;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

body {
  background-color: rgb(37, 37, 37);
  user-select: none;
}
