#warnmsg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--elem-bg-color);
}

#warnmsg[data-active="0"] {
  display: none;
}

#warnmsg p {
  margin: 0;
  padding: 15px;
}

#warnmsg progress {
  margin-bottom: 15px;
}

#warnmsg input[type="button"] {
  margin-right: 10px;
}
