#gamefilter {
  transition: opacity 0.15s;
  background-color: #0000004c;
  padding-left: 10px;
  border: none;
  color: white;
  min-height: 25px;
}

#gamelist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  min-width: 292px;
  max-width: 292px;
  overflow-x: hidden;
  overflow-y: scroll;

  --selection-color: blue;
}

.gamebadge {
  width: 128px;
  height: 128px;
  border-radius: 6px;
  background-color: #4646464c;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.gamebadge.selected {
  border: 4px var(--selection-color) solid;
}

.gamebadge .gb-info {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.15s;
  pointer-events: none;
}

.gamebadge:hover .gb-info {
  opacity: 1;
}

.gamebadge .gb-info .gbi-name {
  display: -webkit-box;
  position: absolute;
  bottom: 0;
  background-color: #0000004c;
  width: 100%;
  max-height: 3em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-left: 4px;
  word-wrap: break-word;
  overflow: hidden;
}

.gamebadge .gb-info .gbi-trophy {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
  right: 4px;
  top: 4px;
}

.gamebadge .gb-info .gbi-status {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
  font-size: small;
  pointer-events: all;
  left: 4px;
  top: 4px;
}
