#gamefilter {
  transition: opacity 0.15s;
  background-color: #0000004c;
  padding-left: 10px;
  border: none;
  color: white;
  min-height: 25px;
}

#gamelist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.gamebadge {
  width: 128px;
  height: 128px;
  border-radius: 6px;
  background-color: #4646464c;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.gamebadge.selected {
  border: 4px blue solid;
}

.gamebadge .gb-info {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.15s;
  pointer-events: none;
}

.gamebadge:hover .gb-info {
  opacity: 1;
}

.gamebadge .gb-info .gbi-name {
  position: absolute;
  bottom: 0;
  background-color: #0000004c;
  width: 100%;
}

.gamebadge .gb-info .gbi-trophy {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
  right: 0;
  top: 0;
}

.gamebadge .gb-info .gbi-status {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
  font-size: small;
  pointer-events: all;
  left: 0;
  top: 0;
}
