.terminal-wrapper {
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
}

.gitwrapper:has(#gitinfo:empty)+.terminal-wrapper {
  margin-top: 10px;
}

#terminal {
  opacity: 0.05;
  transition: opacity var(--anim-default-transition-speed) var(--anim-default-transition-func);

  background-color: var(--term-bg-color);
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  overflow-y: scroll;
  overflow-x: auto;
  height: 98%;
}

#terminal:empty {
  display: none;
}

#terminal:hover {
  opacity: 1;
}
