#titlebar {
  display: flex;
  flex-direction: row;
  background-color: var(--titlebar-bg-color);
  width: 100%;
  height: 25px;
}

#titlebar.fullscreen {
  transition: height var(--anim-default-transition-speed) var(--anim-default-transition-func);
  height: 2px;
  opacity: 0;
}

#titlebar.fullscreen:hover {
  opacity: 1;
  height: 25px;
}

#titlebar .draggable {
  -webkit-app-region: drag;
  height: 25px;
  flex: 1;
}

#titlebar .title {
  position: absolute;
  top: 5px;
  left: 5px;
  pointer-events: none;
}

.tb-button {
  width: 25px;
  height: 100%;
  line-height: 25px;
}

.tb-button.close:hover {
  background-color: var(--titlebar-bclose-hover);
}
