#trophieslist {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #0000007e;
  bottom: -320px;
  transition: bottom var(--anim-default-transition-speed) var(--anim-default-transition-func);
  overflow-y: auto;
  overflow-x: hidden;
  width: 400px;
  height: 320px;
}

#trophieslist[data-hidden="0"] {
  bottom: 45px;
}

#trophieslist>.multiple {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#trophieslist>.multiple>.mult-list {
  display: flex;
  padding: 4px;
  gap: 2px;
  width: 100%;
}

#trophieslist>.multiple>.mult-list>a {
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  flex-grow: 1;
}

#trophieslist>.multiple>.mult-list>.mult-btn {
  display: flex;
  align-items: center;
  padding: 4px;
  height: 25px;
}

#trophieslist>.multiple>.mult-list>.mult-btn:hover {
  background-color: var(--button-hover-color);
}

#trophieslist>.multiple>.mult-content {
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

#trophieslist div.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  min-height: 90px;
  border-bottom: 1px solid var(--trophy-list-border);
  padding-left: 5px;
}

#trophieslist div.row img {
  -webkit-user-drag: none;
  width: 64px;
  height: 64px;
}

#trophieslist div.row div.info {
  padding-left: 10px;
  width: 100%;
}

#trophieslist div.row p.name {
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 8px;
}

#trophieslist div.row p.name .fa-trophy {
  margin-left: 10px;
}

#trophieslist div.row p.name .grade-P {
  color: var(--trophy-grade-platinum);
}

#trophieslist div.row p.name .grade-G {
  color: var(--trophy-grade-gold);
}

#trophieslist div.row p.name .grade-S {
  color: var(--trophy-grade-silver);
}

#trophieslist div.row p.name .grade-B {
  color: var(--trophy-grade-bronze);
}

#trophieslist div.row p.detail {
  margin-bottom: 0px;
  margin-top: 0px;
}

#trophieslist div.row .hidden {
  transition: filter var(--anim-default-transition-speed) var(--anim-default-transition-func);
  filter: blur(6px);
}

#trophieslist[data-showspoilers="1"] div.row .hidden {
  filter: unset;
}
